<h1>Products in store: </h1>
<a routerLink="new">Add Product</a>
<ul>
    <!-- כל מאפיין שעטוף בסוגריים מורבעות, הערך שהוא מכיל הוא קוד ולא מחרוזת רגילה
        property binding
    -->
    <li *ngFor="let product of products" [id]="product.code"   > 
        <a [routerLink]="'' + product.code" [innerHTML]="product.name"
        [class.low-quantity]="product.quantity < 10"  [class.high-quantity]="product.quantity > 30"></a>
    </li>
</ul>

=
<router-outlet></router-outlet>
<!-- <app-product *ngIf="selectedProduct" [product]="selectedProduct"  (productAddedToCart)="addProductToCart($event)"></app-product> -->