<h1>Products in store: </h1>
<ul>
    <!-- כל מאפיין שעטוף בסוגריים מורבעות, הערך שהוא מכיל הוא קוד ולא מחרוזת רגילה
        property binding
    -->
    <li *ngFor="let product of products" (click)="selectProduct(product)" [id]="product.code"  [innerHTML]="product.name"
     [class.low-quantity]="product.quantity < 10"  [class.high-quantity]="product.quantity > 30" > </li>
</ul>

<!-- (productAddedToCart) - רישום לארוע שיכול להתרחש בתוך הקומפננטה
    $event - שם שמור שתמיד מכיל את המידע של הארוע שנשלח מתוך הקומפוננטה הפנימית
-->
<app-product *ngIf="selectedProduct" [product]="selectedProduct"  (productAddedToCart)="addProductToCart($event)"></app-product>