<h2>New Product</h2>
<form (ngSubmit)="addProduct($event)" *ngIf="newProduct">
    <!-- ngModel - קישור דו כיווני בין משתנה הקומפוננטה לבין פקד קלט, כל שינוי בפקד ישפיע על המשתנה, ושינוי במשתנה ישפיע על הפקד -->
    <!-- בשביל להשתמש במאפיין זה חובה להוסיף למודול הראשי את המודול FormsModule -->
    <input type="text" placeholder="product name" [(ngModel)]="newProduct.name" name="name" />
    <input type="text" placeholder="product description" name="description" [(ngModel)]="newProduct.description" />
    <input type="number" placeholder="product quantity" name="quantity" [(ngModel)]="newProduct.quantity" />
    <input type="number" step="0.1" placeholder="product price" name="price" [(ngModel)]="newProduct.price" />
    <button type="submit" >Add</button>
</form>
