<!-- <app-products  (cartUpdated)="updateCart($event)"></app-products>
<app-cart  [cart]="cart"  (subQuantity)="updateCartSubQuantity($event)"></app-cart> -->
<ul>
    <!-- יצירת קישור באנגולר, את המען של הקישור יש לכתתוב בתוך המאפיין routerLink
        ובתוכו לכתוב את התוכן
        הכתובת של הקישור חייבת להיות זהה למה שמוגדר בתוך המערך של ה routes
    -->
    <li> <a routerLink="/products"> Products </a> </li>
    <li> <a routerLink="/cart"> Cart </a> </li>
</ul>

<router-outlet></router-outlet>